/* Define styles for the "my-paragraph" class */
.my-paragraph {
    color: #45bd4d;
    font-size: 20px;
    /* the following are changing box model properties */
    padding-left: 20px;
    border: 1px solid #133;
}

/* Define styles for the #about ID */
#about {
    background-color: #e9ecb7;
    padding: 20px;
}

/* Define style for HTML body tag */
body {
    font-family: 'Courier New', Courier, monospace;
}

/* Change link color from blue to orange on hover */
a:hover {
    color: #FFA500;
}