/* Define styles for the "my-paragraph" class */
.my-paragraph {
    color: #00FFFF;
    font-size: 36px;
}

/* Define styles for the #about ID */
#about {
    background-color: #e9ecb7;
    padding: 20px;
}

/* Define style for HTML body tag */
body {
    font-family: 'Courier New', Courier, monospace;
}